<%= form_for(box) do |f| %>
    <% if box.errors.any? %>
    <div>
    <h2><%= pluralize(box.errors.count, "error") %>
    prohibited this box from being saved:</h2>
    <ul>
        <% box.errors.full_messages.each do |msg|%>
        <li><%= msg %></li>
        <% end %>
    </ul>
    </div>
    <% end %>
<p>
<%= f.label :month %><br>
<% select_list = {Jan: 1, Feb: 2,March: 3, April: 4, May: 5, June: 6 }%>
<%= f.select :month, select_list%><br>
<%= f.label :year %><br>
<%= f.text_field :year%><br>
<%= f.label :title %><br>
<%= f.text_field :title%><br>
<%= f.label "Select Item"%><br>
<%= f.collection_check_boxes :item_ids, @item, :id, :title %><br>
<%= f.fields_for :items do |item_fields| %><br>
<h4>New Items Only: <%= item_fields.label :title %></h4>
<%= item_fields.text_field :title %><br>
<% end %>
</p>
<%= f.submit %>
<% end %>