<% @title = "Cat Store" %>
<h1>Title:  <%= @box.title %></h1>
<p><%= @box.subscription_level%></p>
<p><%= @box.month%></p>
<p><%= @box.year%></p>
<li><%= link_to "Edit Box", edit_box_path(@box) %></li>
<li><%= link_to "Delete Box",
            box_path(@box), 
            method: :delete, 
            data: { confirm: 'Are you sure?' } %></li> 
