<fieldset>
<%#binding.pry %>
<%  @current_user= User.find_by_id(session[:user_id]) %>
<%if session[:user_id]%>
<% #binding.pry %>
    <%if @current_user %>
    <% #binding.pry %>
    <li><%= link_to "Step 1: View List of Subscription for Purchase", subscriptions_path%></li>
    <li><%= link_to "Step 2: View My Subscription Orders", orders_path %></li>
    <li><%= link_to "Step 3: Purchase New Box in a Subscription Order", boxes_path %></li>
    <li><%= link_to "Step 4: View My List of Boxes", boxes_path %></li>
    <li><%= link_to "Step 5: Sign Out", logout_path %></li>
    <% #binding.pry %>
    <% elsif @current_user.admin == true %>
    <% #binding.pry %>
     <%@user= User.find_by_id(session[:user_id])%>
    <h1><%= @user.name %></h1>
    <h2>Email: <%= @user.email %></h2>
    <h2>Facebook UID: <%= @user.uid %></h2>
    <li><%= link_to "Subscriptions Index and Description", subscriptions_path%></li>
    <li><%= link_to "New Subscription Order", new_order_path %></li>
    <li><%= link_to "My Subscription Orders", orders_path %></li>
    <li><%= link_to "Box Index and New Box", boxes_path %></li>
    <li><%= link_to "Admin Index", admin_path %></li>
    <li><%= link_to "Boxes Index to Ship Boxes", boxes_to_be_shipped_path%></li>
    <li><%= link_to "Add_New_Items to Box", new_item_path %></li>
    <li><%= link_to "Sign Out", logout_path %></li>
    <% end %>
<%else %>
        <h4> You are not logged in </h4>
        <li><%= link_to "Sign up", new_user_path %></li>
        <li><%= link_to "Log in", login_path %></li>
        <li><%= link_to "List of Subscriptions", subscriptions_path %></li>
        <li><%= link_to "New Subscription Order", new_order_path %></li>
<% end %>
</fieldset>